extends layout

block title
  title #{__('page.title.signup')}

block content
  .panel(class='panel-default')
    .panel-heading
        h3.panel-title #{__('signup.block.title')}
      .panel-body
        .alert.alert-danger
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          strong #{__('error')}
          span= error

        +form(form)
          +form_row(form.fields.email)
          //+form_row(form.fields.name)
          .row
            +form_label(form.fields.name)
              +form_widget(form.fields.name)
          +form_row(form.fields.lastName)
          +form_row(form.fields.password1)
          +form_row(form.fields.password2)
          +form_button('submit')
