//
   Created by admin on 06.02.2016.

//- Render single field
mixin form_widget(field, attr)
  - if (field.type == 'select')
    +type_select(field, attr)
  - else if (field.type == 'button')
    +type_button(field, attr)
  - else
    +type_text(field, attr)

//- Render complex field(field, label, error)
mixin form_row(field, attr)
  .row&attributes(attr ? attr : {})
    +form_error(field)
    +form_label(field)
    +form_widget(field)

mixin form_open(form, attr)
  form&attributes(Object.assign(form.attr, attr))
    .form-group
      block

mixin form(form, attr)
  +form_open(form)
    - each field, key in form.field
        +form_row(field)

//- Render errors of field
mixin form_error(field, attr)
  - if (field.error != null)
    .error&attributes(attr ? attr : {})= __(field.error)

// Render label of field
mixin form_label(field, attr)
  - if (field.type !== 'button')
    label(for=field.attr.id)&attributes(attr ? attr : {})= __(field.label)

//- Text type of field
mixin type_text(field, attr)
  input.form-control&attributes(Object.assign(field.attr, attr))

//- Button type of field
mixin type_button(field, attr)
  button(type='submit', class='btn btn-primary')&attributes(Object.assign(field.attr, attr))= __(attr != null && attr.label != null ? attr.label : field.label)

//- Select type of field
mixin type_select(field, attr)
  select.form-control&attributes(Object.assign(field.attr, attr))
    //- Iterate options
    - each value, key in field.options
      //- Handle object types
      - if (typeof value === 'object')
        //- Get first value from object
        option(value=value.value, selected=(field.value === value.value))= __(value.name)
      - else
        option(value=value, selected=field.value === value)= __(value)
