extends layout

block script
  script(src='app/app-module/bootstrap.js')
  script
    //:coffee-script
    //  require ["__controller/main/index"], (main)=>
    //    console.log main


block style
  style
    :stylus
      .main-border
        border 1px solid #000

block content
  .col-sm-12.main-border
    .col-sm-6 1
    .col-sm-6 2

