extends layout

block script
  script
    :coffee-script
      requirejs.config
        baseUrl: "/"
        paths:
          app: "server"
          jquery: "jquery/dist/jquery"

      require ["app/index"]

block style
  style
    :stylus
      .main-border
        border 1px solid #000

block content
  .col-sm-12.main-border
    .col-sm-6 1
    .col-sm-6 2

